.Box {
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    margin: 16px 0;
}

.blankslate-spacious {
    padding: 80px 40px;
}

.p-3 {
    padding: 16px
}

h2, h3 {
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

input[id=e-statement] {
    display: none;
}

label[for=e-statement] {
    color: var(--color-accent-fg);
}

label:hover[for=e-statement] {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    padding: 5px 16px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
}

.btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
}

.btn-primary:hover {
    background-color: var(--color-btn-primary-hover-bg);
    border-color: var(--color-btn-primary-hover-border);
}

.btn-danger {
    color: var(--color-btn-danger-text)
}

.btn-danger:hover {
    color: var(--color-btn-danger-hover-text);
    background-color: var(--color-btn-danger-hover-bg);
    border-color: var(--color-btn-danger-hover-border);
}